<div class="col-12 text-center">
    <span class="text-gray fs-4 d-block mb-2">NIT: {{ data.body.nit }}</span>
    <div class="d-flex justify-content-center">

      - <img src="assets/images/logoentidad.png" href="https://www.bancodeoccidente.com.co/wps/portal/banco-de-occidente/bancodeoccidente/">
        
        <span class="pe-1 fw-bold">Cerre y punto :</span>
        <span class="px-3">
            <i class="fa fa-circle text-blue fs-6px" aria-hidden="true"></i>
        </span>
    
    </div>
</div>